link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js",type="text/javascript")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js",type="text/javascript")

