extends ../layout
block content
    .container
        .row
            include ../includes/sidebar_admin
            .col-md-10.col-sm-9.col-md-offset-2.col-sm-offset-3
                form.form-horizontal(method="POST",action="/admin/category/save")
                    input(type='hidden',name="category[_id]",value="#{category._id}")
                    .form-group
                        label.col-sm-2.control-label(for="inputName") 电影类别
                        .col-sm-10
                            input#inputName.form-control(type="text",name="category[name]",value="#{category.name}")
                    .form-group
                        .col-sm-offset-2.col-sm-10
                        button.btn.btn-primary(type="submit") 录入