extends ../layout
block content
.container
    .row
        form.form-horizontal(method="POST",action="/admin/movie/new")
            .form-group
                label.cols-sm-2.control-label(for="inputTitle") 电影名字
                .cols-sm-10
                    input#inputTitle.form-control(type="text",name="movie[title]",value=
                    "#{movie.title}")
            .form-group
                label.cols-sm-2.control-label(for="inputDoctor") 电影导演
                .cols-sm-10
                    input#inputDoctor.form-control(type="text",name="movie[doctor]",value=
                    "#{movie.doctor}")
            .form-group
                label.cols-sm-2.control-label(for="inputLanguage") 语言
                .cols-sm-10
                    input#inputLanguage.form-control(type="text",name="movie[language]",value=
                    "#{movie.language}")
            .form-group
                label.cols-sm-2.control-label(for="inputSummary") 简介
                .cols-sm-10
                    input#inputSummary.form-control(type="text",name="movie[summary]",value=
                    "#{movie.summary}")